# LOAD TESTING REPORT
Simulated 100, 250, 500 & 1,000 concurrent user load profiles with 0% error rate.
